Is percent encoding the fragment (#) really conformant with the URI RFC?

Noob question here. I was using [example 6](https://www.w3.org/TR/did-1.1/#example-a-resource-external-to-a-did-document) in my test cases for parsing DIDs. The particular library I'm using ([fluent-uri](https://docs.rs/fluent-uri/latest/fluent_uri/index.html)) claims that there is no fragment in the URI - which is also what I would have expected.

To check, I went to [RFC3986 section 3.5](https://www.rfc-editor.org/rfc/rfc3986#section-3.5). Reading it, it says:

>  A fragment identifier component is indicated by the presence of a number sign ("#") character and terminated by the end of the URI.

Wouldn't this example in the DID-Core spec therefore be inconsistent with the RFC?

To test how browsers handle this, I tried the link https://www.w3.org/TR/did-1.1/%23example-a-resource-external-to-a-did-document (note the pct encoded fragment) in firefox and chromium. Neither scroll the page to the link, which to me indicates that like the RFC, they *also* don't consider this percent encoding to be a valid fragment identifier.

Is the DID-Core spec wrong? What should I as an application developer do with pct encoded fragments? Right now I'm probably going to consider them invalid.

This was discussed during the [#did meeting on 26 June 2025](https://www.w3.org/2025/06/26-did-minutes.html#a253).

<details><summary><i>View the transcript</i></summary>

<h4>Is percent encoding the fragment (#) really conformant with the URI RFC? #898</h4>
<p><cite>&lt;ottomorac&gt;</cite> <a href="https://github.com/w3c/did/issues/898" rel="noopener noreferrer">w3c/<wbr>did#898</a></p>
<p><cite>manu:</cite> example 6 is correct and don't think it goes against RFC.  Changing to a hash mark would be wrong.  The fragment must % encode the fragment.  This is an esoteric example and will look at some improved descriptive text.</p>
<p><cite>manu:</cite> this would be a class 2 change</p>

<hr /></details>

We discussed this extensively in https://github.com/w3c/did/pull/813. I think that PR 813 was wrong and should be reverted. I don't think it's a class 2 change to revert that.

In other words, the current example:
`did:example:123?service=agent&relativeRef=/credentials%23degree`

Should be reverted back to:
`did:example:123?service=agent&relativeRef=/credentials#degree`

Both versions are valid URIs conforming to RFC3986, but the latter is what we want here, since we are talking about real URI fragments (note that the example appears in the "Fragment" section of the spec).

Also see this example in DID Resolution:
https://www.w3.org/TR/did-resolution/#example-10

This is how percent-encoding of the fragment should work:

If the fragment is meant to reference something in the DID document (is to be processed as an anchor into the DID document), then it MUST NOT be percent-encoded.

If the fragment is meant to reference something in the relative resource / be processed on the relative resource according to whatever media type rules are associated with it, then the fragment MUST be percent-encoded.

In other words, the service + `relativeRef` resolution process includes looking up the referenced service in the DID document and using its URL (`serviceEndpoint` value) as the base URL for the `relativeRef` value -- where the `relativeRef` value will be percent-decoded (resulting in the `#` character then appearing in the appropriate place).

Otherwise, the fragment will not be considered part of the `relativeRef` value. One can see how this works with standard URL parsing tools, e.g., node.js repl output:

```
> new URL('did:example:123?service=agent&relativeRef=/credentials#degree')
URL {
  href: 'did:example:123?service=agent&relativeRef=/credentials#degree',
  origin: 'null',
  protocol: 'did:',
  username: '',
  password: '',
  host: '',
  hostname: '',
  port: '',
  pathname: 'example:123',
  search: '?service=agent&relativeRef=/credentials',
  searchParams: URLSearchParams { 'service' => 'agent', 'relativeRef' => '/credentials' },
  hash: '#degree'
}
> new URL('did:example:123?service=agent&relativeRef=/credentials%23degree')
URL {
  href: 'did:example:123?service=agent&relativeRef=/credentials%23degree',
  origin: 'null',
  protocol: 'did:',
  username: '',
  password: '',
  host: '',
  hostname: '',
  port: '',
  pathname: 'example:123',
  search: '?service=agent&relativeRef=/credentials%23degree',
  searchParams: URLSearchParams { 'service' => 'agent', 'relativeRef' => '/credentials#degree' },
  hash: ''
}
```

We do not want everyone to have to rewrite/avoid standard tools, that will be a persistently bad problem for interop.

> Otherwise, the fragment will not be considered part of the `relativeRef` value.

Correct, and in my opinion this is what we actually want. The fragment should not be part of the `relativeRef` value, but should be dereferenced at the very end of the dereferencing process.

E.g. given `did:example:123?service=agent&relativeRef=/credentials#degree`

First dereference
`did:example:123?service=agent&relativeRef=/credentials`

Then dereference
`#degree`

This behavior of the DID fragment is analogous to the handling of a fragment in an HTTP URL in the case when dereferencing it returns an HTTP 3xx (Redirection) response with a Location header.

See e.g. https://www.rfc-editor.org/rfc/rfc7231#section-7.1.2

> If the Location value provided in a 3xx (Redirection) response does
>    not have a fragment component, a user agent MUST process the
>    redirection as if the value inherits the fragment component of the
>    URI reference used to generate the request target (i.e., the
>    redirection inherits the original reference's fragment, if any).
> 

This is what we want here as well, i.e. inherit the fragment component from the original DID URL, rather than including it as part of the `relativeRef` value.

@peacekeeper,

Hmm, I see what you mean now and it makes sense to me from a perspective that is different from the one I was working with. My mental model has been more like this:

E.g. given `did:example:123?service=agent&relativeRef=/credentials%23degree`

First resolve: `did:example:123?service=agent&relativeRef=/credentials%23degree`
(To this URL: `https://agent.example/credentials#degree`. Note that this layer does the minimal DID resolution magic to produce a new URL, leaving its additional resolution / dereferencing to the following software layers).

Second resolve:
`https://agent.example/credentials`

Finally, dereference (within the resulting resource):
`#degree`

I think both of these processes are doing the same thing -- but view the layering a bit differently and there may be various advantages / disadvantages to how these different approaches can be implemented in software.

This was discussed during the [#did meeting on 21 August 2025](https://www.w3.org/2025/08/21-did-minutes.html#0713).

<details><summary><i>View the transcript</i></summary>

<h3>Is percent encoding the fragment (#) really conformant with the URI RFC? #898</h3>
<p><cite>&lt;ottomorac&gt;</cite> <a href="https://github.com/w3c/did/issues/898" rel="noopener noreferrer">w3c/<wbr>did#898</a></p>
<p><cite>&lt;ottomorac&gt;</cite> This is related to example 6 in the DID core spec, link:  <a href="https://www.w3.org/TR/did-1.1/#example-a-resource-external-to-a-did-document" rel="noopener noreferrer">https://<wbr>www.w3.org/<wbr>TR/<wbr>did-1.1/#example-a-resource-external-to-a-did-document</a> In the last meeting, participants clarified that Example 6 in the DID Core specification is indeed correct: according to the URI standard, the fragment identifier must be percent‑encoded rather than replaced with a literal hash (#). Changing to a literal hash would violate the RFC. However, the group ack</p>
<p><cite>&lt;ottomorac&gt;</cite> nowledged that the description could be improved—suggesting they will enhance the explanatory text around this subtle point.</p>
<p><cite>manu:</cite> Trying to distangle this from the DID Resolution issue. Complicated.  Remove example 6 from the spec as it is confusing. Any reference to RelativeRef should happen in the DID Resolution spec and move the conversation to DID Resolution spec.<br>
<span>… : Avoid people asking this at this level of the spec -- hence DID Resolution. We have other fragment examples.</span></p>

<hr /></details>